@charset "UTF-8";
body{
	margin:auto;
	text-align: center;
	background-color: #F3F8FF;
/* 	overflow: hidden; */
}
div{
	margin:auto;
/* 	background-color: white; */
	width:1130px;
	padding:30px;
}
p{font-size:80px;}
table{
	margin:auto;
}
#cmd{width: 100%;}
th{
	width:100px;
	padding:30px;
}
tr:nth-child(2n){background-color: #C6CFFF;}

